#logone{
    margin-top: 150px;
    margin-left: 20%;
}
input , #one{
    width: 80%;
    height: 40px;
    background-color: white;
}
input{
    margin: 10px auto;
}
@media (max-width:767px){
    #logone{
        margin-left: 10%;
    }
    input , #one{
        width: 90%;
    }
}